@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #FBF7F4;
}
.header-container {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 80px auto 40px;
}
h1 {
  font-family: "Coustard", serif;
  font-weight: 900;
  font-style: normal;
}
.container {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 40px auto;
}
.select-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border: 1px solid rgba(34, 36, 50, .3);
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
}
.select-btn .btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
.select-btn .arrow-dwn {
  display: flex;
  height: 21px;
  width: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  background: #f4917b;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}
.dropdown {
  position: relative;
  margin-top: 15px;
  border: 1px solid rgba(34, 36, 50, .3);
  border-radius: 6px;
  padding: 16px;
  background-color: #fff;
  display: none;
  max-height: 300px;
  overflow-y: hidden;
}
.list-items {
  position: relative;
  margin-top: 12px;
  border-radius: 6px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
}
.list-items::-webkit-scrollbar {
  width: 7px;
}
.list-items::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.list-items::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.list-items::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.select-btn.open ~ .dropdown{
  display: block;
}

.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  margin-right: 6px;
  border-radius: 8px;
}
.list-items .item:hover {
  background-color: #e7edfe;
}
.item .item-text {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid #c0c0c0;
  transition: all 0.3s ease-in-out;
}
.item.checked .checkbox {
  background-color: #f4917b;
  border-color: #f4917b;
}
.checkbox .check-icon {
  color: #fff;
  font-size: 11px;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.item.checked .check-icon {
  transform: scale(1);
}
.search i{
  top: 28px;
  left: 16px;
  padding: 0 12px;
  color: #bfbfbf;
  font-size: 15px;
  pointer-events: none;
  position: absolute;
}
.search input{  
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 6px !important; 
  padding: 0 15px 0 36px;
  border: 1px solid rgba(34, 36, 50, .3);
  border-radius: 8px;
}
.search input:focus{
  padding-left: 35px;
  border: 2px solid #f4917b;
}
.search input::placeholder{
  color: #bfbfbf;
}
button {
  margin-top: 30px;
  background-color: #f4917b;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border: 0;
  color: #fff;
  height: 50px;
  padding: 0 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #f57f65;
}